.aside__item-stambul {
  background-image: url("../img/AdStambul.jpg");
  width: 100%;
  height: 328px;
  padding: 176px 122px 43px 30px;
  background-repeat: no-repeat;
}

.add-name {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
}

.add-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.aside__item-renault {
  background-image: url("../img/AdRenault.jpg");
  width: 100%;
  height: 328px;
  padding: 215px 120px 43px 30px;
  background-repeat: no-repeat;
}

.aside__item:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .aside__item-stambul.aside__item-stambul {
    padding: 148px 20px 20px 15px;
    height: 254px;
  }

  .aside__item-renault {
    height: 254px;
    padding: 158px 22px 20px 15px;
  }

  .add-name {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .add-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .aside {
    padding-top: 30px;
  }

  .aside__item {
    display: inline-block;
  }

  .aside__item-stambul.aside__item-stambul {
    margin-right: 50px;
    max-width: 320px;
  }

  .aside__item-renault {
    max-width: 320px;
  }
}

@media (max-width: 320px) {
  .aside {
    display: none;
  }
}

