.promo {
  padding: 50px 0 50px 0;
}

.promo__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
  grid-template-areas:
  "notebook notebook notebook notebook notebook notebook"
  "notebook notebook notebook notebook notebook notebook"
  "book time sneak-two sneak-two gift gift"
  "sneak sneak sneak-two sneak-two december december"
  "new-year-decoration new-year-decoration new-year-decoration new-year-decoration woman chemical"
  "new-year-decoration new-year-decoration new-year-decoration new-year-decoration woman decoration";
}

.promo__item {
  background-repeat: no-repeat;
  min-height: 228px;
  max-width: 100%;
  background-size: cover;
  color: #FFFFFF;
  border-radius: 20px;
  position: relative;
}

.promo__item-notebook {
  background-image: url("../img/index/promo_notebook.jpg");
  grid-area: notebook;
  min-height: 480px;
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;
  padding: 145px 0 0 112px;
}

.promo__item-book {
  background-image: url("../img/index/promo_book.jpg");
  grid-area: book;
  font-weight: 400;
  font-size: 30px;
  line-height: 139%;
  padding: 80px 35px 0 20px;
}

.promo__item-time {
  background-image: url("../img/index/promo_time_sale.jpg");
  grid-area: time;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  padding: 67px 0 0 14px;
}

.promo__item-time:after {
  content: "-25%";
  right: 20px;
  bottom: 20px;
}

.promo__item-sneak {
  background-image: url("../img/index/promo_sneaker.jpg");
  grid-area: sneak;
}

.promo__item-sneak:after {
  content: "-40%";
  left: 20px;
  top: 20px;
}

.promo__item-sneak_two {
  background-image: url("../img/index/promo_sneaker2.jpg");
  grid-area: sneak-two;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding: 329px 20px 0 20px;
}

.promo__item-sneak_two p {
  background-color: #38C0EB;
  color: #FFFFFF;
  padding: 24px 26px;
  max-width: 643px;
  border-radius: 20px;
}

.promo__item-sneak_two b {
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
}

.promo__item-gift {
  background-image: url("../img/index/promo_gift.jpg");
  grid-area: gift;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  padding: 94px 180px 0 30px;
}

.promo__item-december {
  background-image: url("../img/index/promo_december.jpg");
  grid-area: december;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  padding: 136px 0 0 30px;
}

.promo__item-december:after {
  content: "-15%";
  right: 20px;
  bottom: 20px;
}

.promo__item-new_year_decoration {
  background-image: url("../img/index/promo_new-year_decoration.jpg");
  grid-area: new-year-decoration;
  padding: 358px 0 0 50px;
}

.promo__item-new_year_decoration p {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  background-color: #FFFFFF;
  color: #F91155;
  padding: 30px 43px 30px 40px;
  max-width: 643px;
  border-radius: 20px;
}

.promo__item-woman {
  background-image: url("../img/index/promo_woman.jpg");
  grid-area: woman;
}

.promo__item-woman:after {
  content: "-55%";
  right: 20px;
  bottom: 20px;
}

.promo__item-chemical {
  background-image: url("../img/index/promo_chemical.jpg");
  grid-area: chemical;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  padding: 130px 0 0 20px;
}

.promo__item-chemical:after {
  content: "-25%";
  top: 20px;
  left: 20px;
}

.promo__item-decoration {
  background-image: url("../img/index/promo_decoration.jpg");
  grid-area: decoration;
}

.promo__item:after {
  position: absolute;
  background-color: #FFBD13;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  padding: 24px 8px;
}

@media (max-width: 1024px) {
  .promo__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 22px 30px;
    grid-template-areas:
  "notebook notebook notebook notebook"
  "notebook notebook notebook notebook"
  "book time sneak-two sneak-two"
  "sneak sneak sneak-two sneak-two"
  "gift gift woman chemical"
  "december december woman decoration"
  "new-year-decoration new-year-decoration new-year-decoration new-year-decoration"
  "new-year-decoration new-year-decoration new-year-decoration new-year-decoration";
  }

  .promo__item {
    background-repeat: no-repeat;
    min-height: 194px;
    min-width: 217px;
    color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .promo {
    padding: 20px 0 45px 0;
  }

  .promo__item-notebook {
    min-height: 314px;
    max-width: 944px;
    font-size: 40px;
    padding: 80px 0 0 80px;
  }

  .promo__item-book {
    padding: 101px 14px 32px 13px;
    height: 202px;
    font-size: 24px;
    line-height: 31px;
  }

  .promo__item-book b {
    font-size: 30px;
    line-height: 39px;
  }

  .promo__item-sneak:after {
    top: 10px;
    left: 10px;
  }

  .promo__item-sneak_two {
    font-size: 30px;
    line-height: 120%;
    padding-top: 255px;
    max-width: 446px;
  }

  .promo__item-sneak_two p {
    padding-right: 35px;
  }

  .promo__item-sneak_two b {
    font-size: 40px;
    line-height: 48px;
  }

  .promo__item-time {
    font-size: 24px;
    line-height: 130%;
    padding-top: 54px;
  }

  .promo__item:after {
    bottom: 10px;
    right: 10px;
  }

  .promo__item-gift {
    font-size: 30px;
    line-height: 130%;
    padding: 89px 179px 20px 30px;
  }

  .promo__item-december {
    padding: 119px 154px 36px 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
  }

  .promo__item-woman {
    min-width: 206px;
  }

  .promo__item-woman:after {
    bottom: 10px;
    right: 20px;
  }

  .promo__item-chemical {
    min-width: 210px;
    font-size: 20px;
    line-height: 130%;
    padding: 151px 10px 0 10px;
  }

  .promo__item-chemical:after {
    top: 10px;
    left: 10px;
  }

  .promo__item-decoration {
    min-width: 210px;
  }

  .promo__item-new_year_decoration {
    padding: 296px 397px 39px 30px;
  }

  .promo__item-new_year_decoration p {
    padding: 24px 46px;
    font-size: 30px;
    line-height: 120%;
  }
}

@media (max-width: 768px) {
  .promo {
    padding: 25px 0 30px 0;
  }

  .promo__list {
    gap: 22px 20px;
  }

  .promo__item {
    min-height: 130px;
    min-width: 140px;
  }

  .promo__item-notebook {
    min-height: 280px;
    max-width: 700px;
    font-size: 40px;
    padding: 64px 0 0 80px;
  }

  .promo__item-book {
    padding: 43px 13px 15px 10px;
    height: 130px;
    font-size: 20px;
    line-height: 22px;
    max-width: 130px;
  }

  .promo__item-book b {
    font-size: 26px;
    line-height: 29px;
  }

  .promo__item-sneak_two {
    font-size: 16px;
    line-height: 110%;
    padding: 207px 10px 10px 10px;
    max-width: 380px;
  }

  .promo__item-sneak_two p {
    padding: 12px 30px 20px 26px;
  }

  .promo__item-sneak_two b {
    font-size: 26px;
    line-height: 29px;
  }

  .promo__item-time {
    font-size: 16px;
    padding: 15px 15px 0 15px;
  }

  .promo__item:after {
    width: 50px;
    height: 50px;
    padding: 15px 0 0 7px;
    font-size: 16px;
  }

  .promo__item-gift {
    font-size: 16px;
    line-height: 120%;
    padding: 70px 143px 18px 21px;
  }

  .promo__item-december {
    padding: 87px 130px 20px 21px;
    font-size: 16px;
    line-height: 120%;
  }

  .promo__item-woman {
    min-width: 182px;
    max-height: 284px;
  }


  .promo__item-chemical {
    min-height: 126px;
    min-width: 178px;
    font-size: 16px;
    line-height: 120%;
    padding: 94px 16px 18px 15px;
  }

  .promo__item-decoration {
    min-width: 178px;
  }

  .promo__item-new_year_decoration {
    padding: 243px 327px 26px 26px;
  }

  .promo__item-new_year_decoration p {
    padding: 22px 33px;
    font-size: 20px;
    line-height: 120%;
  }
}

@media (max-width: 320px) {
  .promo {
    padding: 20px 0;
  }

  .promo__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas:
  "notebook notebook"
  "notebook notebook"
  "notebook notebook"
  "notebook notebook"
  "book time"
  "sneak sneak"
  "sneak-two sneak-two"
  "sneak-two sneak-two"
  "gift gift"
  "december december"
  "woman chemical"
  "woman decoration"
  "new-year-decoration new-year-decoration";
  }

  .promo__item {
    min-height: 95px;
    min-width: 130px;
  }

  .promo__item-notebook {
    min-height: 340px;
    padding: 50px 0 0 29px;
    font-size: 22px;
  }

  .promo__item-book {
    padding: 66px 55px 10px 10px;
    height: 120px;
    font-size: 12px;
    line-height: 13px;
    max-width: 130px;
  }

  .promo__item-book b {
    font-size: 16px;
    line-height: 18px;
  }

  .promo__item-sneak_two {
    font-size: 12px;
    padding: 160px 10px 10px 10px;
    max-width: 280px;
  }

  .promo__item-sneak_two p {
    padding: 7px 25px 11px 25px;
  }

  .promo__item-sneak_two b {
    font-size: 16px;
    line-height: 18px;
  }

  .promo__item-time {
    font-size: 12px;
    padding: 18px 37px 0 10px;
  }

  .promo__item-sneak {
    height: 118px;
  }

  .promo__item:after {
    width: 50px;
    height: 50px;
    padding: 15px 0 0 7px;
    font-size: 16px;
  }

  .promo__item-gift {
    height: 118px;
    font-size: 12px;
    padding: 68px 89px 16px 10px;
  }

  .promo__item-december {
    padding: 88px 158px 16px 10px;
    font-size: 12px;
  }

  .promo__item-woman {
    min-width: 130px;
    max-height: 284px;
  }


  .promo__item-chemical {
    font-size: 12px;
    padding: 70px 10px 11px 9px;
  }


  .promo__item-new_year_decoration {
    padding: 83px 15px 10px 15px;
  }

  .promo__item-new_year_decoration p {
    padding: 7px 41px;
    font-size: 12px;
  }
}
